*{
    box-sizing: border-box;
}
body{
    background-color: rgb(209, 200, 146);
    width: 75%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(39, 38, 38);
}
header img{
    height: 5rem;
    margin: 0.3rem;
}
header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
nav div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
nav a{
    padding: 0.2rem 1.5rem;
    color: white;
    text-decoration: none;
    font-size: large;
    text-align: center;
}
nav a:hover{
    background-color: orange;
    color: black;
    font-size: larger;
}
main{
    padding: 1rem;
    background-color: white;
}
h1{
    margin: 0%;
}
details{
    cursor: pointer;
}
summary:hover{
    background-color: rgba(183, 130, 102, 70%);
    width: fit-content;
    padding: 0.5rem;
}
details>div{
    width: 90%;
    margin: 0.5rem auto 0rem;
    padding: 1px 1rem;
    background-color: rgba(00, 00, 00, 5%);
}
details li{
    list-style: none;
}
.lista li{
    list-style: square;
}
dd{
    margin-bottom: 0.5rem;
}
li{
    margin: 0.5rem;
}
footer{
    margin: 0px;
    padding: 1rem;
    background-color: rgb(183 130 102);
    border: 0.5rem solid black;

}
footer h2{
    border: 0.2rem solid black;
    margin: 0px;
    text-align: center;
    width: 100%;
    background-color: rgba(00, 00, 00, 0%);
}
footer a{
    text-decoration: none;
    color: black;
}
#webgrafia{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
#webgrafia div{
    width: 40%;
    font-size: small;
}
.centro{
    width: 20% !important;
}
.centro ul{
    margin: auto;
    width: 50%;
    text-align: center;
}
#webgrafia p{
    text-align: center;
    text-decoration: underline;
}
footer ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
.youtube{
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 56.25%;
}
.youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4{
    padding: 0.5rem;
    background-color: rgba(183, 130, 102, 50%);
    width: fit-content;
}
.flotante{
    float: right;
    padding: 0.5rem;
    width: 30%;
}
.imagen{
    width: 60%;
    margin: 1rem auto 0rem;
}
.imagen img{
    width: 100%;
}
.imagenes{
    width: 90%;
    display: flex;
}
.imagenes .imagen{
    width: 33%;
}
div.contenido{
    width: 95%;
    margin: auto;
}